<% provide(:title, 'Send Task') %>



<div class="center jumbotron">

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <%unless current_user.task_id == 0 %>

      <% if user_signed_in? %>



        <h1>Write ur task's decision:</h1>

    <%= form_for(:answ, url: answ_create_path) do |f| %>

      <%= f.label :content %>
      <%= f.text_area :content, class: 'form-control' ,placeholder: "Compose new answer..." %>
          <% unless current_user.status == "complete" %>
      <%= f.submit "Create", class: "btn btn-primary" %>
          <% else %>
            <h3 style="color:#008000" >Ur task is done...</h3>
          <% end %>

    <% end %>


      <% else %>

    <% flash[:danger] = 'please log in' %>
      <% redirect_to new_user_session_path %>
      <% end %>

      <%else%>
    <h3>U have no any tasks...</h3>
    <%end%>
  </div>
</div>
</div>