<div class="left jumbotron">

  <h1>
    Progress of students:
  </h1>
  <%unless @users.nil?%>
    <ul>
      <% @users.each do |user|%>
        <p>
          <% answ = @answers.find_by_user_id(user.id) %>
          <%= user.email.split('@').first %>
          <% if answ.nil? || answ.sending == false  %>
            [not sent]
          <%else%>
            <%= link_to "[sent]", check_answ_path(user,params[:id]) %>
          <%end%>
          <%= link_to "[delete from task]", answ_path(user,params[:id]),
                                            method: :delete, data: { confirm: "You sure?" } %>
        </p>
      <% end %>
      <%unless @finals.nil?%>
        <div class="center jumbotron">
          <%= link_to "Download all tasks as archive",
                      administration_download_users_path(@answers.first.task_id), class: "btn btn-primary" %>
        </div>
      <%end%>
    </ul>
  <%else%>
    <h3>No users in this task...</h3>
    </div>
  <%end%>
