<% provide(:title, "About") %>
<html>
<head>
  <title> <%= full_title(yield(:title)) %> </title>
</head>
<body>
<div class="center jumbotron">
<h1>About</h1>
<h2>

  This is the Jude application for students.
</h2>
</div>
</body>

</html>