<% provide(:title,"Help")%>
<html>
<head>
  <title> <%= full_title(yield(:title)) %> </title>
</head>
<body>
<div class="center jumbotron">
  <h1>Help</h1>
<h2>
  Help page for students

</h2>
</div>
</body>
</html>