<% provide(:title,"Help")%>
<html>
<head>
  <title> <%= full_title(yield(:title)) %> </title>
</head>
<body>
<div class="center jumbotron">
  <h1>Help</h1>
<h2>
  Get help on the Ruby Tutorial at the
  <a href="http://www.railstutorial.org/help"> Rails Tutorial help page</a>.
  To get help on this sample app, see the
  <a href="http://www.railstutorial.org/book"><em>Ruby on Rails Tutorial</em>
  book
  </a>.
</h2>
</div>
</body>
</html>