
<% provide(:title,"Home") %>
<html>
<head>
  <title> <%= full_title(yield(:title)) %> </title>
</head>
<body>


<% if user_signed_in? %>


  <div class="row">


        <%= render 'shared/user_info' %>



<% else %>



  <div class="center jumbotron">
    <h1>Welcome to the Judge For Student</h1>

    <h2>
      This is the home page for the
      <a href="https://scaletools.com/">Scale Tools </a>
      - sample application.
    </h2>


    <p></p>
    <%= link_to image_tag("rails.png", alt: "Rails logo"),
                'https://scaletools.com/' %>
  </div>
  </aside>
  </div>
  </body>
  </html>
<% end %>
