 <% provide(:title, 'All tasks') %>
 <div class="left jumbotron">
   <h1>All tasks</h1>
   <ul class="teacher_admin">
     <%=render @tasks %>
     <%if current_teacher(params[:id])%>
       <div class="center jumbotron">
         <%=link_to "Add new task", new_task_path(params[:id]), class: "btn btn-lg btn-primary" %>
       </div>
     <%end%>
   </ul>
 </div>