<li>

  <%= link_to user.email, '#' %>
  <% if current_user.teacher?  %>
    |


    <%= link_to "Destroy", admin_destroy_user_path(user), method: :delete, data: { confirm: "You sure?" } %>
  <% end %>
</li>