<% provide(:title,"My task") %>

  <div class="center jumbotron">
    <% unless @studentsanswer.nil?  %>
      <h1> My task : </h1>
      <h3>{<%= @task.content %>}</h3>
      <%if @studentsanswer.status == "complete" %>
        <h3 style="color:#008000">[<%= @studentsanswer.status %>]</h3>
      <%else%>
        <h3 style="color:#ff0000">[<%= @studentsanswer.status %>]</h3>
      <%end%>
      <% unless @studentsanswer.status == "complete" || @final == true%>
        <%=link_to "Send my answer", new_answ_path(params[:id]) , class: "btn btn-lg btn-primary" %>
      <% else %>
        <h3>Ur task is done..Or u mark answer as final.</h3>
      <% end %>
    <% else %>
      <h3>U have no any tasks...</h3>
    <%end%>
  </div>