<div class="left jumbotron">

<h1>Administration panel</h1>

<%= link_to "Tasks", administration_tasks_path , class: "btn btn-lg btn-primary" %>

<p></p>


<%= link_to "Add new task", administration_new_path , class: "btn btn-lg btn-primary" %>

  <p></p>


<%= link_to "Create new student", new_user_registration_path , class: "btn btn-lg btn-primary" %>


  <p></p>





</div>






