<p>Welcome!</p>

<p>You can confirm your account email through the link below:</p>

<p><%= link_to 'Confirm my account', edit_activation_url(@user.activation_digest,
                                                           email:@user.email) %></p>
