

<p>Hi <%= @user.email.split('@').first %>,</p>

<p>
  We want to notify you about new task:
</p>

<p><%=@task.content %></p>

<p> U can already <%= link_to "send ur answer", task_url(@task.id) %></p>